<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">DANH SÁCH ĐĂNG KÝ TIÊM CỦA {{userName}}</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">NO.</th>
                                <th scope="col">TÊN ĐIỂM TIÊM</th>
                                <th scope="col">NGÀY ĐĂNG KÝ</th>
                                <th scope="col">TÊN VACCINE</th>
                                <th scope="col">TRẠNG THÁI</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    1
                                </th>
                                <td>
                                    TYT xã Vĩnh Thạnh
                                </td>
                                <td>
                                    16/07/2022
                                </td>
                                <td>
                                    VACCINE COVID-19 AstraZeneca
                                </td>
                                <td>
                                    Waiting Approve
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown>
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(2)">Sửa thông tin</a>
                                            <a class="dropdown-item" href="javascript:void(3)">Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2
                                </th>
                                <td>
                                    Phòng khám đa khoa khu vực số 1
                                </td>
                                <td>
                                    02/03/2022
                                </td>
                                <td>
                                    VACCINE COVID-19 AstraZeneca
                                </td>
                                <td>
                                    Injected
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown>
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="updateModal()">Sửa thông tin</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!-- <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
</div>