#app-footer {
  background-color: #233329;
  width: 100%;
  height: fit-content;
  padding: 15px 0px;
}

#app-footer .container {
  margin: 0px 80px;
  padding: 0px 7.5px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  display: flex;
}

#app-footer .left-container {
  display: inline-block;
  margin-right: auto !important;
}

.left-container img {
  height: 100px;
}

#app-footer .right-container {
  margin-left: auto !important;
}
