<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">CẬP NHẬT THÔNG TIN NGƯỜI DÙNG</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('Cross click')">&times;</button>
</div>
<div class="modal-body">
    <form [formGroup]="updateUserForm">
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">Họ Tên</label>
                        <input type="text" id="input-name" formControlName="name"
                            class="form-control form-control-alternative" placeholder="Full name"
                            value="Phạm Nguyễn Thanh Huy">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" id="input-email" formControlName="email"
                            class="form-control form-control-alternative" placeholder="thanhhuy2120@gmail.com">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-phone">Số điện thoại</label>
                        <div>
                            <input type="text" id="input-email" formControlName="phone"
                                class="form-control form-control-alternative" placeholder="098xxxxxxx">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-gender">Giới tính</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="gender" value="Nam"
                                    required>
                                <label class="form-check-label" for="inlineRdNam">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="gender" value="Nữ"
                                    required>
                                <label class="form-check-label" for="inlineRdNu">Nữ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-dob">Ngày sinh</label>
                        <div>
                            <input class="form-control form-control-alternative datepicker" formControlName="dob"
                                placeholder="dd/mm/yyyy" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-id-card">CMND/CCCD/Hộ chiếu</label>
                        <input type="text" id="input-id-card" formControlName="idCard"
                            class="form-control form-control-alternative" value="123456789">
                    </div>
                </div>
            </div>
        </div>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" for="input-detail">Địa chỉ</label>
                        <input id="input-address" class="form-control form-control-alternative"
                            formControlName="details" placeholder="Địa chỉ chi tiết" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-city">Xã/Phường</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative"
                            formControlName="commune" placeholder="Xã/Phường">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-city">Quận/Huyện</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative"
                            formControlName="city" placeholder="Quận/Huyện">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-province">Tỉnh/Thành phố</label>
                        <input type="text" id="input-province" class="form-control form-control-alternative"
                            formControlName="province" placeholder="Tỉnh/Thành phố">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button>
</div>