<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="mb-0">DANH SÁCH MŨI TIÊM CỦA PHẠM NGUYỄN THANH HUY</h3>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" (click)="createHistories()">THÊM MŨI TIÊM
                                MỚI</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">NO.</th>
                                <th scope="col">Tên điểm tiêm</th>
                                <th scope="col">Tên vaccine</th>
                                <th scope="col">Số lô vaccine</th>
                                <th scope="col">Ngày tiêm</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    1
                                </th>
                                <td>
                                    TYT xã Vĩnh Thạnh
                                </td>
                                <td>
                                    VACCINE COVID-19 AstraZeneca
                                </td>
                                <td>
                                    AST001
                                </td>
                                <td>
                                    12/11/2021
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown container="body">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="updateHistories()">Sửa thông tin</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                </div>
            </div>
        </div>
    </div>
</div>