<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="mb-0">CHI TIẾT KẾ HOẠCH TIÊM</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detailPlan">
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Tiêu đề kế hoạch</label>
                                <input type="text" id="input-name" formControlName="title" disabled="true"
                                    class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-registration-date">Ngày thực
                                            hiện</label>
                                        <div>
                                            <input class="form-control form-control-alternative datepicker"
                                                disabled="true" formControlName="implementDate" placeholder="dd/mm/yyyy"
                                                type="date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-id-card">Địa điểm thực hiện</label>
                                        <input type="text" id="input-id-card" formControlName="implementLocation"
                                            disabled="true" class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pl-lg-4">
                            <label class="form-control-label" for="input-detail">Nội dung kế hoạch</label>
                            <angular-editor formControlName="content" [config]="editorConfig">
                            </angular-editor>
                        </div>
                    </form>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <!-- <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>